@import '../../css/mixins/mixin-global';

.box__image-list{
  position: relative;  
  .box__image-item{  
    padding: 40px;
    border: 1px solid $border-color;      
    @include flexbox();    
    @include border-radius(10px);
    @include justify-content(space-around);    
    @include transition(background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s);
    &:hover,
    &:focus{
      border-color: #FFF;        
      @include box-shadow(0px 5px 15px rgba(#000000, 0.1));      
    }
    &.center{
      text-align: center;         
    }
    &.text-left{
      text-align: left;
      @include justify-content(flex-start);
    }
    &.text-right{
      text-align: right;
      @include justify-content(flex-end);     
    }
    &.top{
      @include flex-direction(column);
      &.center{
        @include align-items(center);
      }
    }
    &.left{
      @include flex-direction(row);       
      @include justify-content(flex-start);
      .box__image-icon{
        margin-bottom: 0;        
      }
      .box__text{
        margin-left: 30px;
      }
    }
    &.right{
      @include flex-direction(row);
      @include justify-content(flex-end);
      .box__image-icon{
        margin-bottom: 0;   
        @include order(1);     
      }
      .box__text{
        margin-right: 30px;
      }
    }
    > *{
      margin-bottom: 30px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .box__text{
    > *{
      margin-bottom: 20px;      
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .box__image-icon{
    overflow: hidden;
    background-color: #CCC;
    text-align: center;    
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    @include border-radius(100%);    
    &.large{
      min-width: 110px;
      @include square(110px);
    }
    &.medium{
      min-width: 90px;
      @include square(90px);
    }
    &.small{
      min-width: 60px;
      @include square(60px);
    }
    &.red{
      background-color: #FF0000;
    }
    &.blue{
      background-color: #4D9DED;
    }
    &.gray{
      background-color: #808080;
    }
    &.silver{
      background-color: #C0C0C0;
    }
    &.green{
      background-color: #008000;
    }
    &.yellow{
      background-color: #FFFF00;
    }
    &.purple{
      background-color: #800080;
    }
    &.olive{
      background-color: #808000;
    }
    &.moody{
      background-color: #7078CF;
    }
    &.sorbus{
      background-color: #E3733A;
    }
    &.pink{
      background-color: #F28989;
    }
    &.mandys{
      background-color: #FFB38D;
    }
    &.pastel{
      background-color: #77CB7A;
    }
    &.orange{
      background-color: #ff9200;
    }    
  }
  .box__image-link{
    outline: none;
  }
}