button,
.button {
  outline: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  text-align: center;  
  font-weight: 500;   
  white-space: normal;     
  padding: 10px ​30px;
  @include transition(all 0.15s linear);   
  @include border-radius(5px);
  &:disabled{
    background-color: #D0D0D0;
    border-color: #D0D0D0;
    color: #E6E6E6;
  }
  &:hover,
  &:active,
  &:focus{
    text-decoration: none;    
    @include box-shadow(0px 0px 5px 0px rgba($theme-color, 0.3));
  }  
}

.button-link-icon{
  @include square(37px);
  display: inline-block;  
  background-position: 50% 50%;  
  background-repeat: no-repeat;
  background-image: url('https://f.hubspotusercontent20.net/hubfs/19917571/right-arrow.svg');
}