@import '../../css/mixins/mixin-global';

.heading{	
	@include flexbox();
	@include flex-wrap(nowrap);
	@include flex-direction(row);	
	height: 1000px;
	&.center{
		text-align: center;		
		@include justify-content(space-around);
	}
	&.text-left{
		text-align: left;
		@include justify-content(flex-start);
	}
	&.text-right{
		text-align: right;
		@include justify-content(flex-end);			
	}
	.heading__text{
		> *{
			margin-bottom: $widget-space;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}

}

.custom-heading{
	width: 100%;
	max-width: 560px;
	> *{
		margin-bottom: $widget-space;
		&:last-child{
			margin-bottom: 0;
		}
	}
}

.heading__image__container{      
  .heading--image--line{
  	position: relative;      
  	display: inline-block;
  	vertical-align: middle;
  	max-width: 300px;
  	width: 100%;
  	text-align: center;
  	&:before{
	  	left: 0;  	
	}
	&:after{
	  	right: 0;  	
	} 
  	&:before,
	&:after{  	
		content: "";		
		@include size(120px, 2px);		
		@include center(false, true);
	}
  }  
}