.heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: none;
  flex-wrap: nowrap;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 1000px;
}

.heading.center {
  text-align: center;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around;
}

.heading.text-left {
  text-align: left;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
}

.heading.text-right {
  text-align: right;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}

.heading .heading__text > * {
  margin-bottom: 20px;
}

.heading .heading__text > *:last-child {
  margin-bottom: 0;
}

.custom-heading {
  width: 100%;
  max-width: 560px;
}

.custom-heading > * {
  margin-bottom: 20px;
}

.custom-heading > *:last-child {
  margin-bottom: 0;
}

.heading__image__container .heading--image--line {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 300px;
  width: 100%;
  text-align: center;
}

.heading__image__container .heading--image--line:before {
  left: 0;
}

.heading__image__container .heading--image--line:after {
  right: 0;
}

.heading__image__container .heading--image--line:before, .heading__image__container .heading--image--line:after {
  content: "";
  width: 120px;
  height: 2px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
