{% set align = module.heading_position %}

<div class="heading {{ align }}">
  <section class="custom-heading">
    {% if module.image.src %}
      {% set sizeAttrs = 'width="{{ module.image.width }}" height="{{ module.image.height }}"' %}
      {% if module.image.size_type == 'auto' %}
        {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
      {% elif module.image.size_type == 'auto_custom_max' %}
        {% set sizeAttrs = 'width="{{ module.image.max_width }}" height="{{ module.image.max_height }}" style="max-width: 100%; max-height: auto;"' %}
      {% endif %}
       {% set loadingAttr = module.image.loading != 'disabled' ? 'loading="{{ module.image.loading }}"' : '' %}
      <div class="heading__image__container">
        <span class="heading--image--line">
          <img class="heading__image" src="{{ module.image.src }}" alt="{{ module.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
        </span>
      </div>
    {% endif %}
    <div class="heading__text">
      {% if module.title %}
        <{{ module.title_heading_type }}>{{ module.title }}</{{ module.title_heading_type }}>
      {% endif %}
      {% if module.text %}
        <p>{{ module.text }}</p>
      {% endif %}
    </div>
  </section>
</div>