.box__image-list {
  position: relative;
}

.box__image-list .box__image-item {
  padding: 40px;
  border: 1px solid #F0F0F0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around;
  -moz-transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  -o-transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  -webkit-transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.box__image-list .box__image-item:hover, .box__image-list .box__image-item:focus {
  border-color: #FFF;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.box__image-list .box__image-item.center {
  text-align: center;
}

.box__image-list .box__image-item.text-left {
  text-align: left;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
}

.box__image-list .box__image-item.text-right {
  text-align: right;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}

.box__image-list .box__image-item.top {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.box__image-list .box__image-item.top.center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

.box__image-list .box__image-item.left {
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
}

.box__image-list .box__image-item.left .box__image-icon {
  margin-bottom: 0;
}

.box__image-list .box__image-item.left .box__text {
  margin-left: 30px;
}

.box__image-list .box__image-item.right {
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}

.box__image-list .box__image-item.right .box__image-icon {
  margin-bottom: 0;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -moz-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.box__image-list .box__image-item.right .box__text {
  margin-right: 30px;
}

.box__image-list .box__image-item > * {
  margin-bottom: 30px;
}

.box__image-list .box__image-item > *:last-child {
  margin-bottom: 0;
}

.box__image-list .box__text > * {
  margin-bottom: 20px;
}

.box__image-list .box__text > *:last-child {
  margin-bottom: 0;
}

.box__image-list .box__image-icon {
  overflow: hidden;
  background-color: #CCC;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}

.box__image-list .box__image-icon.large {
  min-width: 110px;
  width: 110px;
  height: 110px;
}

.box__image-list .box__image-icon.medium {
  min-width: 90px;
  width: 90px;
  height: 90px;
}

.box__image-list .box__image-icon.small {
  min-width: 60px;
  width: 60px;
  height: 60px;
}

.box__image-list .box__image-icon.red {
  background-color: #FF0000;
}

.box__image-list .box__image-icon.blue {
  background-color: #4D9DED;
}

.box__image-list .box__image-icon.gray {
  background-color: #808080;
}

.box__image-list .box__image-icon.silver {
  background-color: #C0C0C0;
}

.box__image-list .box__image-icon.green {
  background-color: #008000;
}

.box__image-list .box__image-icon.yellow {
  background-color: #FFFF00;
}

.box__image-list .box__image-icon.purple {
  background-color: #800080;
}

.box__image-list .box__image-icon.olive {
  background-color: #808000;
}

.box__image-list .box__image-icon.moody {
  background-color: #7078CF;
}

.box__image-list .box__image-icon.sorbus {
  background-color: #E3733A;
}

.box__image-list .box__image-icon.pink {
  background-color: #F28989;
}

.box__image-list .box__image-icon.mandys {
  background-color: #FFB38D;
}

.box__image-list .box__image-icon.pastel {
  background-color: #77CB7A;
}

.box__image-list .box__image-icon.orange {
  background-color: #ff9200;
}

.box__image-list .box__image-link {
  outline: none;
}
