<div class="box__image-list">
  {% for box_image in module.image_box %}  
    {% set href = box_image.url_link.url.href %}
    {% if box_image.url_link.url.type is equalto "EMAIL_ADDRESS" %}
      {% set href = "mailto:" + href %}
    {% endif %}

    {% set rel = [] %}
    {% if box_image.url_link.no_follow %}
      {% do rel.append("nofollow") %}
    {% endif %}

    {% if box_image.url_link.open_in_new_tab %}
      {% do rel.append("noopener") %}
    {% endif %}

    {% if box_image.align_position %}
      {% set align = box_image.align_position %}
    {% endif %}
    {% if box_image.image_position %}
      {% set image_align = box_image.image_position %}
    {% endif %}
    {% if box_image.bg_icon_color %}
      {% set bgcolor = box_image.bg_icon_color %}
    {% endif %}

    {% if box_image.icon_image_size %}
      {% set icon_size = box_image.icon_image_size %}
    {% endif %}
  
    <section class="box__image-item {{ image_align }} {{ align }}">
      {% if box_image.image.src %}
        {% set sizeAttrs = 'width="{{ box_image.image.width }}" height="{{ box_image.image.height }}"' %}
        {% if box_image.image.size_type == 'auto' %}
          {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
        {% elif box_image.image.size_type == 'auto_custom_max' %}
          {% set sizeAttrs = 'width="{{ box_image.image.max_width }}" height="{{ box_image.image.max_height }}" style="max-width: 100%; max-height: auto;"' %}
        {% endif %}
         {% set loadingAttr = box_image.image.loading != 'disabled' ? 'loading="{{ box_image.image.loading }}"' : '' %}
        <div class="box__image-icon {{ bgcolor }} {{ icon_size }}">          
          <img class="box__image" src="{{ box_image.image.src }}" alt="{{ box_image.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
        </div>
      {% endif %}

      <div class="box__text">
        {% if box_image.title %}
          <{{ box_image.title_heading_type }}>{{ box_image.title }}</{{ box_image.title_heading_type }}>
        {% endif %}
        {% if box_image.text %}
          <p>{{ box_image.text }}</p>
        {% endif %}

        {% if box_image.url_link.url.href %}
          <div class="box__image-link">
            <a class="button-link-icon" href="{{ href }}"
            {% if box_image.url_link.open_in_new_tab %}target="_blank"{% endif %}
            {% if rel %}rel="{{ rel|join(' ') }}"{% endif %}></a>
          </div>
        {% endif %}

      </div>
    </section>
  
  {% endfor %}
</div>